/*navbar css*/
body{
	margin-left: 0px;
}

#navBar{
	position: relative;
    top: 55px;

}

#navbarImg{
	width: 225px;
    height: 900px;
}

#menuTitle{
	color: #f3d4a5;
    font-family: "Roboto";
    position: absolute;
    top: 60px;
    left: 15px;
    width: 150px;
    font-size: 20px;

}

hr {
	margin-left: 0px;
    height: 2px;
    background-color: white;
    color: white;
    position: absolute;
    top: 125px;
    left: 15px;
    width: 180px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 155px;
    left: 0px;
    width: 200px;
}

li a {

       display: block;
    color: #f3d4a5;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto";

}

/* Change the link color on hover */
li a:hover {
    color: #fff;
    background-color: #a87c4f;
}

/*title bar*/
#titleBar{
	position: absolute;
    left: 250px;
    top: 0px;
    width: 80%;
}

#titleBarImg{
    width: 100%;
    height: 75px;
}

#dateTitle{
    position: absolute;
    top: 10px;
    left: 65px;
    color: #f3d4a5;
    font-family: "Roboto";
    font-size: 18px;
}    

#lockButton{
    position: absolute;
    top: 10px;
    right: 15%;
    width: 30px;
    height:30px;
    cursor:pointer;
    border:none;
    background:url(../image/lock.png) no-repeat;
}



#addButton{
    position: absolute;
    top: 10px;
    right: 7%;
    width: 30px;
    height: 30px;
    border: none;
    background: url(../image/add.png) no-repeat;
    z-index: 10;
}

#addBox{
    width: 250px;
    height: 200px;
    position: absolute;
    top: 63px;
    right: 7%;
    background: url(../image/addpopup.png) no-repeat;
    z-index: 9;
}

.pop-up{
   position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 300px;
    height: 250px;
    border-radius: 5px;
    border: 1px solid #897a5d;
    background: url(../image/backgroundPopUp.png) no-repeat;
    background-size: 100%;
    background-position-y: -2px;

}

.formUpdate{
    margin-top: 40px;
    margin-left: 45px;
}

.formAdd{
    margin-top: 40px;
    margin-left: 40px;
}

.buttonPopUp{
    margin-left: 15%;
    margin-top: 20px;
    background-color: #897a5d;
    border: none;
    border-radius: 3px;
    color: #fff;
    width: 75px;
    font-family: "Roboto";
    font-weight: lighter;
    font-size: 12px;
}


input[type=text], select {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonAdd{
    margin-left: 90px;
    margin-top: 15px;
    width: 75px;
    height: 15px;
    background-color: #897a5d;
    border: none;
    border-radius: 3px;
}

.teacherTitle, .studentTitle, .inputPopUp {
    margin-bottom: 5px;
}


.teacherTitle, .studentTitle{
 margin-bottom: 5px;
    color: #5d5c5b;
    font-family: "roboto";
    font-size: 12px;
}
   

.titleAdd{
    margin-left: 33%;
    margin-top: 10px;
    font-family: "roboto";
    font-size: 16px;
    font-weight: lighter;
    color: #f3d4a5;
}

